<div class="container">
    <h2>Liste des Fournisseurs</h2>

    <a class="btn btn-primary" (click)="navigateToList()" >Add</a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Email</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of providers">
          <td>{{ provider.id }}</td>
          <td>{{ provider.name|uppercase|preffixeProv }}</td>
          <td>{{ provider.address |uppercase}}</td>
          <td>{{ provider.email }}</td>
          <td><a class="btn btn-danger" (click)="deleteProvider(provider.id)">Delete</a></td>
          <td><a class="btn btn-warning" (click)="updateProvider(provider.id)">Update</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
